<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="com.foos-bar.mailsnag">
      </category>
      <view
            allowMultiple="false"
            category="com.foos-bar.mailsnag"
            class="com.foosbar.mailsnag.views.MessagesView"
            icon="icons/logo.gif"
            id="com.foosbar.mailsnag.views.MessagesView"
            name="%view.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
			   visible="true"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               id="com.foosbar.mailsnag.views.MessagesView">
         </view>
         <viewShortcut
               id="com.foosbar.mailsnag.views.MessagesView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.foosbar.mailsnag.preferences.PreferencePage"
            id="com.foosbar.mailsnag.preferences.PreferencePage"
            name="%page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.foosbar.mailsnag.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name"
            extensions="eml"
            icon="icons/message.gif"
            class="com.foosbar.mailsnag.editors.MessageEditor"
            id="com.foosbar.mailsnag.editors.MessageEditor">
      </editor>
   </extension>
</plugin>
